* {
    align-items: center;
}

.header,
.footer,
.con1 {
    background-color: indigo;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .title {
    font-size: 24px;
}

.header a {
    color: white;
}

body {
    margin: 0px 200px;
    background-color: black;
}

.containers {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.con1 .title {
    font-size: 48px;
    font-weight: bold;
}

.con1 {
    font-size: 18px;
    display: flex;
    justify-content: space-around;
}

.con2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.con2 .images {
    display: flex;
    gap: 50px;
}

.con2 .images .block {
    display:flex;
    align-items: center;
    flex-direction: column;
}

.block p {
    width: 250px;
}

.con2 .title {
    font-size: 36px;
    font-weight: bolder;
    align-items: center;
}

.con3 {
    background-color: lavender;
    font-size: 36px;
    font-style: italic;
}

.con3 .attribution {
    font-size: 36px;
    font-weight: bold;
}

.con4 {
    background-color: white;
    color: white;
    padding: 30px 200px;
}

.con4 .box {
    background-color: indigo;
    display: flex;
    justify-content: space-around;
}

.con4 .title {
    font-size: 18px;
    font-weight: bold;
}

button {
    background-color: indigo;
    color: white;
}

.footer {
    display: flex;
    margin: 0;
}