* {
    align-items: center;
}

.header,
.footer,
.con1 {
    background-color: indigo;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 250px;
}

.header .title {
    font-size: 32px;
}

.header a {
    color: white;
    text-decoration: none;
}

.header .links {
    display: flex;
    gap: 20px;
}

body {
    margin: 0px 200px;
    background-color: black;
}

.containers {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.con1 {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 50px 250px 100px;
}

.con1 .left {
    width: 480px;
}

.con1 .title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: -10px;
}

.con2 {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.con2 .images {
    display: flex;
    gap: 50px;
}

.con2 img {
    border-radius: 10px;
    border: 4px solid hotpink;
}

.con2 .images .block {
    display:flex;
    align-items: center;
    flex-direction: column;
}

.block p {
    width: 250px;
}

.con2 .title {
    font-size: 36px;
    font-weight: bolder;
    align-items: center;
}

.con3 {
    background-color: lavender;
    font-size: 32px;
    font-style: italic;
    padding: 0px 250px;
    justify-content: center;
}

.con3 .poem {
    margin-bottom: -50px;
}

.con3 .attribution {
    font-size: 36px;
    font-weight: bold;
    text-align: right;
    margin-top: -50px;
    padding: 0 240px 0 0;
}

.con4 {
    background-color: white;
    color: white;
    padding: 30px 200px;
}

.con4 .box {
    background-color: hotpink;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-radius: 10px;
}

.con4 .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: -10px;
}

button {
    background-color: hotpink;
    color: white;
    border-radius: 10px;
    padding: 8px 24px;
    font-weight: bold;
}

.footer {
    display: flex;
    margin: 0;
    padding: 20px 0;
    justify-content: center;
}
